# base firmware config - static
CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_DEVICE_oolitebox=y
CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_REPO="/"
CONFIG_VERSION_FILENAMES=n
CONFIG_VERSION_CODE_FILENAMES=n

# base firmware config - dynamic
CONFIG_BNX_PROVISION_API_ENDPOINT="replace_me"
CONFIG_BNX_PROVISION_API_KEY="replace_me"
CONFIG_VERSION_NUMBER="replace_me"
CONFIG_VERSION_PRODUCT="BNX-2000"
CONFIG_VERSION_HWREV="1"

# base firmware packages
CONFIG_PACKAGE_bnx-base=y
CONFIG_PACKAGE_bnx-provisioning=y
CONFIG_PACKAGE_bnx-device-status=y
CONFIG_PACKAGE_luci-bnx=y

# add-on packages
CONFIG_PACKAGE_bnx-device-manager-aws-iot-core=m
